@font-face {
  font-family: "Helvetica Now Display";
  src: url("./assets/fonts/HelveticaNowDisplay.woff2") format("woff2"),
    url("./assets/fonts/HelveticaNowDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Helvetica Now Display", Arial, sans-serif;
  background-color: #000;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
}

a {
  text-decoration: none;
}

.logo img {
  height: 40px;
}

.mission-bar {
  background-color: #007eb5;
  height: 75px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.mission-title {
  font-size: 16px;
  color: white;
}

.right-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.return-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.icon-button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.icon-button img {
  width: 40px;
  height: 40px;
}

.timer {
  font-size: 16px;
  color: white;
}

.language {
  display: none;
  align-items: center;
  font-size: 16px;
}

.language img {
  height: 20px;
  margin-right: 8px;
}

main {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
}

.info-panel {
  padding: 20px;
  background-color: #f0f0f0;
  color: black;
  width: 400px;
  height: 760px;
}

.info-panel ul {
  list-style-type: none; /* Supprimer les puces par défaut */
  padding: 0;
  margin: 0;
  font-family: "Helvetica Now Display", Arial, sans-serif;
  font-size: 16px; /* Ajuster la taille de la police */
  color: #333; /* Couleur du texte */
  line-height: 1.6; /* Espacement entre les lignes */
}

ul > li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start; /* Pour aligner le texte avec l'icône */
}

ul > li::before {
  content: "•"; /* Ajouter la puce personnalisée */
  color: #007eb5; /* Couleur de la puce */
  font-size: 20px; /* Taille de la puce */
  margin-right: 10px; /* Espacement entre la puce et le texte */
  line-height: 1; /* Ajuster la hauteur de ligne de la puce */
}

ul ul {
  margin-left: 30px; /* Indentation pour les sous-listes */
}

ul ul > li {
  display: flex;
  align-items: flex-start; /* Aligner l'icône chevron avec le texte */
  position: relative;
  margin-bottom: 10px; /* Ajout d'un espacement entre les éléments de la sous-liste */
  margin-left: 30px;
  font-size: 15px;
}

ul ul > li::before {
  content: "›"; /* Chevron pour les sous-points */
  color: #333; /* Couleur du chevron */
  font-size: 20px; /* Taille du chevron */
  margin-right: 10px; /* Espacement entre le chevron et le texte */
  line-height: 1; /* Ajuster la hauteur de ligne de la puce */
  margin-top: 3px; /* Ajuster la position verticale du chevron */
}

ul ul > li > span.highlight {
  margin-left: 5px; /* Légèrement éloigné du texte pour réduire l'espace */
}

.highlight {
  color: #007eb5; /* Couleur pour le texte mis en évidence */
  font-weight: bold; /* Texte en gras pour la mise en évidence */
  text-decoration: none; /* Enlever le soulignement si c'est un lien */
}

ul ul li span.material-symbols-outlined {
  margin-right: 5px; /* Réduire l'espacement entre le chevron et le texte */
}

.content-placeholder {
  flex: 2;
  background-color: #333;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.content-placeholder img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.content-placeholder div {
  width: 100%;
}

#api-frame {
  display: block;
  /* left: 0px; */
  left: 20%;
  /* width:calc(100%-1px); */
  width: 100%;
  /* padding: 10px; */
  top: 0px;
  height: 800px;
  border: 0;
}

.popup {
  display: none; /* Masqué par défaut */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Au-dessus du contenu */
}

.popup-content {
  background-color: white;
  color: black;
  /* padding: 30px; */
  border-radius: 10px;
  width: 400px;
  max-width: 80%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  text-align: left;
}

.popup-content h2 {
  margin-top: 20;
  margin-left: 30px;
}

.popup-content ul {
  list-style-type: disc;
  margin-left: 0px;
  margin-right: 20px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.banner {
  /* background-color: transparent;  */
  background-color: rgba(200, 200, 200, .05);
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  z-index: 1000;
  box-sizing: border-box;
  height: 62px;
  /* visibility: hidden;  */
  transition: background-color 0.5s, visibility 0.5s;
}

.banner span {
  visibility: hidden;
}

.banner .timer {
  margin-left: auto;
  font-size: 16px;
  color: white; 
  width: 100px;
}

.green-banner {
  background-color: #4ecb71; /* Green color for correct answer */
}

.slidecontainer {
  width: 10%; /* Width of the outside container */
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 10%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 30px; /* Set a specific slider handle width */
  height: 30px; /* Slider handle height */
  background: #ff0202; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 15px;
}
